<header id="header">
  <div class="inner">
    <a routerLink="/">
      <img src="assets/img/logo-lg.png" alt="Calories Tracker" width="50" />
    </a>
    <a href="index.html" class="logo">calories tracker</a>
    <nav id="nav">
      <a routerLink="/meals" routerLinkActive="active" *ngIf="auth.isUser()">Meals</a>
      <a routerLink="/users" routerLinkActive="active" *ngIf="auth.isUserManager() || auth.isAdmin()">Users</a>

      <kendo-menu [items]="items" style="display: inline-block;" (select)="onSelect($event)">
      </kendo-menu>
    </nav>

  </div>
</header>