<div class="toolbar mb-medium">
  <span *ngIf="!isForCurrentUser" class="title-sub ml-small">{{ (user$ | async)?.firstName }}'s</span>
  <h5 class="ml-xsmall">Meals List</h5>

  <div class="btn btn--fancy ml-auto mr-medium open-side-panel-btn" id="panel-newAssetType-btn"
    (click)="modal.openModal()">
    <i class="fa fa-plus"></i> New Meal
  </div>
</div>

<div class="container-fluid">
  <div class="card p-small mb-small mr-medium ml-medium border-top-zero">
    <div class="row">

      <div class="col-md-5 mb-small">
        <div class="form-field">
          <label class="field__label" for="input17">Filter by Date range:</label>
          <kendo-daterange>
            <label>
              <span class="label mr-medium">Start</span>
              <kendo-dateinput kendoDateRangeStartInput [(value)]="dateRangeFilter.start"></kendo-dateinput>
            </label>
            <label>
              <span class="label mr-medium">End</span>
              <kendo-dateinput kendoDateRangeEndInput [(value)]="dateRangeFilter.end"></kendo-dateinput>
            </label>
          </kendo-daterange>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-field">
          <label class="field__label" for="input17">Filter by Time range:</label>
          <div>
            <label>
              <span class="label mr-medium">Start</span>
              <kendo-timepicker name="rangeStart" [(ngModel)]="timeRangeFilter.start"></kendo-timepicker>
            </label>
            <label>
              <span class="label mr-medium">End</span>
              <kendo-timepicker name="rangeEnd" [(ngModel)]="timeRangeFilter.end"></kendo-timepicker>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="btn btn--fancy mt-small" id="panel-newAssetType-btn" (click)="search()">
          <i class="fa fa-search"></i> Search
        </div>
        <div class="btn mt-small" id="panel-newAssetType-btn" (click)="resetRanges()">
          <i class="fa fa-refresh"></i> Reset
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ml-medium mr-medium">
      <kendo-grid [data]="mealsGridData$ | async" [loading]="mealsLoading$ | async" height="500">
        <kendo-grid-column field="text" title="Description" width="350">
        </kendo-grid-column>

        <kendo-grid-column title="Date" width="300">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.date | date: 'fullDate'}}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Time" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.date | date: 'shortTime'}}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="calories" title="Meal Calories" width="150">
        </kendo-grid-column>

        <kendo-grid-column title="Actions">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div kendoTooltip>
              <a title="Edit Meal" class="btn--sm" (click)="modal.editMeal(dataItem)">
                <i class="fa fa-edit"></i>
              </a>
              <a title="Delete" class="btn--sm" (click)="openDeleteDialog(dataItem)">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
<kendo-dialog title="Please confirm" *ngIf="deleteDialogOpened" (close)="closeDeleteDialog()" [minWidth]="250">
  <p style="margin: 30px; text-align: center;">Are you sure you want to delete this meal?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteDialog()">No</button>
    <button kendoButton (click)="deleteMeal()" primary="true">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<app-meals-details-modal #modal [userId]="userId"></app-meals-details-modal>