$gray: #eeeeee;
$pink: #ff819c;
$blue: #36a2eb;
$yellow: #ffce56;
$biolet: #b28cff;

.gray {
  background-color: $gray;
}
.pink {
  background-color: $pink;
}
.blue {
  background-color: $blue;
}
.yellow {
  background-color: $yellow;
}
.biolet {
  background-color: $biolet;
}
.color-box {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  cursor: pointer;
  border: 5px solid transparent;
  &.selected {
    border: 5px solid #c8c9c6;
  }
}
