.choice {
  margin: $choice-margin;
  color: $choice-color;
  font-size: 0;
  font-weight: $choice-font-weight;

  &.is-disabled {
    .choice__label {
      color: $choice-disabled-color;
      cursor: default;

      &::before {
        border-color: $choice-disabled-border-color;
        background-color: $choice-disabled-background-color;
      }
    }
  }
}

.choice__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  & + .choice__label {
    display: inline-flex;
    align-items: center;
    color: $choice-color;
    font-size: $choice-font-size;
    cursor: pointer;
  }

  & + .choice__label::before {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    transition: all 0.3s;
    border: $choice-input-border-width solid $choice-input-border-color;
    background-color: $choice-input-background-color;
    color: $choice-input-color;
    line-height: 15px;
    text-align: center;
    content: '';
    visibility: visible;
  }
}

.choice--checkbox {
  .choice__input + .choice__label::before {
    border-radius: $choice-checkbox-border-radius;
  }

  .choice__input:checked + .choice__label::before {
    border-color: $choice-checkbox-border-color;
    background-color: $choice-checkbox-background-color;
    font-family: $base-icon-font;
    font-size: 10px;
    content: '\f17b';
  }
}
.inner-row__checkbox {
  margin-top: 4px;
  margin-bottom: 0;
}
.choice--radio {
  .choice__input + .choice__label::before {
    border-radius: 100%;
  }

  .choice__input:checked + .choice__label::before {
    border: $choice-radio-border-width solid $choice-radio-border-color;
    background-color: $choice-radio-background-color;
    box-shadow: 0 0 0 $choice-radio-shadow-width $choice-radio-shadow-color;
  }
}
