<div class="mb-medium"></div>
<div class="container-fluid ">
  <div class="row">
    <div class="col-xl-7">

      <ul class="tabs__list nav nav-tabs" id="myTab" role="tablist">
        <li><a class="tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
            aria-selected="true">Activity</a></li>

        <li><a class="tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
            aria-selected="false">Tasks</a></li>

        <li><a class="tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
            aria-selected="false">Info</a></li>

      </ul>

      <div class="tabs__content tab-content mb-large" id="nav-tabContent">
        <div class="tabs__pane active pb-medium" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <p class="text-mute text-uppercase text-small mb-xsmall">Today</p>

          <div class="news-feed-group">
            <div class="news-feed news-feed--fancy">
              <p>Fix the card issue <strong>SmartAsset</strong></p>

              <p class="news-feed__comment">Yes fixed and works fine now Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Optio quibusdam minus magnam voluptatibus
                debitis ipsam, nobis earum esse pariatur quaerat laboriosam libero assumenda
                excepturi totam. Ipsa ut non esse maiores.</p>

              <span class="news-feed__meta">25 minutes ago</span>
            </div>

            <div class="news-feed news-feed--success">
              <p> <i>Start</i> Design the home page <strong>EzyMed</strong></p>

              <span class="text-mute text-small">Today 5:20PM</span>
            </div>

            <div class="news-feed news-feed--fancy">
              <p>Update the login form <strong>DD</strong></p>

              <span class="news-feed__meta">Today 3:30 PM</span>
            </div>
          </div>

          <p class="text-mute text-uppercase text-small mb-xsmall">Yesterday</p>

          <div class="news-feed-group">
            <div class="news-feed news-feed--info">
              <p> <i>Start</i> Design the home page and upload to invision <strong>EzyMed</strong></p>

              <div class="news-feed__gallery">

                <div class="news-feed__gallery-item">
                  <img src="assets/img/feed1.jpg" alt="">
                </div>

                <div class="news-feed__gallery-item">
                  <img src="assets/img/feed2.jpg" alt="">
                </div>

                <div class="news-feed__gallery-item">
                  <img src="assets/img/feed3.jpg" alt="">
                </div>

                <div class="news-feed__gallery-item">
                  <img src="assets/img/feed4.jpg" alt="">
                </div>

                <div class="news-feed__gallery-item">
                  <img src="assets/img/feed5.jpg" alt="">
                </div>

              </div>

              <span class="news-feed__meta"> 6:20 AM</span>
            </div>

            <div class="news-feed news-feed--success">
              <p> <i>Start</i> Design the home page <strong>EzyMed</strong></p>

              <span class="text-mute text-small">Today 5:20PM</span>
            </div>

            <div class="news-feed news-feed--fancy">
              <p>Update the login form <strong>DD</strong></p>

              <span class="news-feed__meta">Today 3:30 PM</span>
            </div>
          </div>

          <p class="text-mute text-uppercase text-small mb-xsmall">25 Sep</p>

          <div class="feed mb-zero">
            <div class="news-feed-group">
              <div class="news-feed news-feed--info">
                <p> <i>Start</i> Design the home page and upload to invision <strong>EzyMed</strong></p>

                <div class="news-feed__gallery">

                  <div class="news-feed__gallery-item">
                    <img src="assets/img/feed1.jpg" alt="">
                  </div>

                  <div class="news-feed__gallery-item">
                    <img src="assets/img/feed2.jpg" alt="">
                  </div>

                  <div class="news-feed__gallery-item">
                    <img src="assets/img/feed3.jpg" alt="">
                  </div>

                  <div class="news-feed__gallery-item">
                    <img src="assets/img/feed4.jpg" alt="">
                  </div>

                  <div class="news-feed__gallery-item">
                    <img src="assets/img/feed5.jpg" alt="">
                  </div>

                </div>

                <span class="news-feed__meta">25 Sep 6:20 AM</span>
              </div>

              <div class="news-feed news-feed--success">
                <p> <i>Start</i> Design the home page <strong>EzyMed</strong></p>

                <span class="text-mute text-small">25 Sep 5:20PM</span>
              </div>

              <div class="news-feed news-feed--fancy">
                <p>Update the login form <strong>DD</strong></p>

                <span class="news-feed__meta">25 Sep 3:30 PM</span>
              </div>
            </div>
          </div>
          <div class="text-center border-top pt-small">
            <div class="btn btn--info">Load more</div>
          </div>

        </div>

        <div class="tabs__pane pb-medium" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem
            modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium
            suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate
            nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut
            sapiente minus sunt doloribus tempora corrupti in!</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio nostrum
            molestias assumenda, repudiandae consequuntur quae pariatur aut incidunt placeat
            doloremque doloribus! Recusandae nostrum dolore repudiandae libero mollitia, rem
            eveniet.</p>
        </div>

        <div class="tabs__pane pb-medium" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem
            modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium
            suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate
            nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut
            sapiente minus sunt doloribus tempora corrupti in!</p>
        </div>

        <div class="tabs__pane pb-medium" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem
            modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium
            suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate
            nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut
            sapiente minus sunt doloribus tempora corrupti in!</p>

          <p class="mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate
            nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut
            sapiente minus sunt doloribus tempora corrupti in!</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at
            aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet
            saepe ratione, accusamus. Voluptatum in, nam.</p>
        </div>
      </div>

    </div>

    <div class="col-xl-5">
      <div class="card p-medium mb-medium">

        <div class="text-center">
          <div class=" avatar--large mb-small inline-flex">
            <img class="avatar__img" src="assets/img/team/medhat.jpg">
          </div>

          <h3 class="h5">Medhat Isaac</h3>
          <p>UI/UX Developer, Web Desinger :)</p>
          <span class="text-mute text-small">Cairo, Egypt</span>
        </div>

        <div class="display--flex justify-center mt-medium ">
          <a class="btn btn--danger" href="#">Deactivate</a>
        </div>

        <table class="table text-center pv-small mt-medium border-right-zero border-left-zero">
          <thead>
            <tr>

              <th class="pt-small color-primary">38</th>
              <th class="pt-small color-primary">54</th>
              <th class="pt-small color-primary">93</th>
              <th class="pt-small color-primary">93</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td class="text-mute text-xsmall pb-small text-uppercase">Project</td>
              <td class="text-mute text-xsmall pb-small text-uppercase">Tasks</td>
              <td class="text-mute text-xsmall pb-small text-uppercase">Finished Tasks</td>
              <td class="text-mute text-xsmall pb-small text-uppercase">Finished Tasks</td>

            </tr>
          </tbody>
        </table>

        <div class="news-feed has-icons mt-medium">
          <div class="news-feed has-icon">
            <i class="news-feed-icon bg-info fa fa-linkedin"></i>
            <p>LinkedIn Profile</p>
            <p class="news-feed__meta">
              <a href="https://www.linkedin.com/in/medhat-isaac-5151a139/">www.linkedin/medhatisaac</a>
            </p>
          </div>

          <div class="news-feed has-icon">
            <i class="news-feed-icon bg-fancy fa fa-behance"></i>
            <p>Behance</p>
            <p class="news-feed__meta">
              <a href="https://www.behance.net/">https://www.behance.net/</a>
            </p>
          </div>
        </div>

        <div class="pt-medium border-top text-center">
          <a class="text-mute text-small" href="http://thoughtdesign.com.au/">
            <i class="fa fa-globe mr-xsmall"></i>http://thoughtdesign.com.au/
          </a>
        </div>
      </div>

      <div class="card p-medium mb-medium">
        <h5 class="mb-medium">Billing information</h5>

        <table class="table border-zero">
          <thead class="table__head border-bottom">
            <tr>
              <th class="table__cell text-left p-zero pb-medium display--flex align-items-center">
                <img class="mr-xsmall" src="assets/img/visa.png" alt="Credit Card">Ending **** 1234
              </th>
              <th class="table__cell text-right p-zero pb-medium">09 / 20</th>
              <th class="table__cell text-right p-zero pb-medium">
                <span class="text-mute">Mastercard</span>
              </th>
            </tr>
          </thead>
          <tbody class="pt-medium">
            <tr class="table__row border-zero">
              <td class="table__cell p-zero pb-xsmall pt-medium">Sep 2018 payment</td>
              <td class="table__cell p-zero pb-xsmall pt-medium">
                <span class="text-mute">Standard Payment</span>
              </td>
              <td class="table__cell p-zero pb-xsmall pt-medium text-right">
                <span class="text-mute">15 Sep 2018</span>
              </td>
            </tr>
            <tr class="table__row border-zero">
              <td class="table__cell p-zero pb-xsmall">Oct 2018 Payment</td>
              <td class="table__cell p-zero pb-xsmall">
                <span class="text-mute">Extra bouns</span>
              </td>
              <td class="table__cell p-zero pb-xsmall text-right">
                <span class="text-mute">14 Oct 2018</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>