$toggle-height: 45px !default; // [1]

$toggle-width: 50% !default;
$toggle-height: $toggle-height !default; // [1]
$toggle-border-width: 1px !default;
$toggle-border-color: #e7e9ed !default;
$toggle-border-radius: $base-border-radius !default;

$toggle-font-size: 14px !default;
$toggle-color: #565f6d !default;
$toggle-background-color: #fafbfc !default;

$toggle-active-background-color: #39b54a !default;
$toggle-active-border-color: #249533 !default;
$toggle-active-color: $white !default;

$toggle-label-width: 100% !default;
$toggle-label-height: $toggle-height !default; // [2]
$toggle-label-line-height: $toggle-label-height !default; // [2]
