$range-thumb-width: 10px !default;
$range-thumb-height: 10px !default;

$range-thumb-gradient: #2da1f8, #1991eb !default;

$range-track-height: 2px !default;
$range-track-border-radius: 1px !default;
$range-track-background-color: #ced0da !default;
