$select-height: 45px !default;

$select-margin: 0 !default;
$select-padding: 15px 15px !default;

$select-font-size: $text-font-size !default;
$select-font-weight: $font-weight-semibold !default;

$select-background-color: $white, $grey-200 !default;
$select-color: rgba($gunmetal-200, 0.5) !default;
$select-hover-color: $gunmetal-200 !default;

$select-border-color: $grey-400 !default;
$select-hover-border-color: $blue-300 !default;
$select-border-width: $base-border-width !default;

$select-option-background-color: #fff !default;
$select-option-highlighted-background-color: #f1f4f8 !default;

// mutliple
$select-multiple-background-color: #fff !default;

$select-multiple-choice-background-color: #f1f4f8 !default;
$select-multiple-choice-border-color: #d5dce6 !default;
$select-multiple-choice-color: #354052 !default;

// Disabled
$select-disabled-color: rgba(#354052, 0.7) !default;
$select-disabled-background-color: #eaeef1 !default;
$select-disabled-border-color: #dfe3e9 !default;
