

$nav-item-margin: 0 25px 0 0 !default;


$nav-link-color: #9FA9BA !default;
$nav-link-active-color: $link-color !default;
$nav-link-font-size: $text-font-size !default;
$nav-link-font-weight: $font-weight-normal !default;


// Nav toggle 
$toggle-btn-width: 30px !default; 
$toggle-btn-height: 30px !default;

// Nav toggle bar
$toggle-btn-bar-width: 27px !default; 
$toggle-btn-bar-height: 3px !default;
$toggle-btn-bar-border-radius: $base-border-radius !default;
$toggle-btn-bar-background-color: $gunmetal-200 !default; 

