$progress-height: 20px !default;
$progress-margin: 0 0 15px 0 !default;
$progress-border-radius: 20px !default;
$progress-background-color: #e2e7ee !default;

// size
$progress-xsmall-height: 2px !default;
$progress-small-height: 4px !default;
$progress-medium-height: 8px !default;

// color
$progress-bar-primary-gradient: $gunmetal-100, $gunmetal-400 !default;
$progress-bar-success-gradient: #5ad946, #2bb415 !default;
$progress-bar-info-gradient: #2da1f8, #1991eb !default;
$progress-bar-danger-gradient: $red-100, $red-300 !default;
$progress-bar-warning-gradient: #f8cf5d, #fdc018 !default;
$progress-bar-fancy-gradient: #9d90e4, #8261e6 !default;
